@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Manrope", serif;
  --color-text: #232323;
  --color-secondary-text:#8A9A9A;
  --color-nav:#E9F2F4;
  --color-light:#F5F9FA;
  --color-dark:#2A8E9E;
  --color-button-hover:#69C9C1;
  --color-button:#1A5F5E;
}

body{
  background-color:#F5F9FA;
}